<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 在线酒店预订系统</title>   @*网页标题，将显示在网页头名称中*@
    @Styles.Render("~/Content/css")@*ASP.NET MVC 4 引入的CSS打包压缩功能。*@
    @Scripts.Render("~/bundles/modernizr")@*ASP.NET MVC 4 引入的modernizr打包压缩功能。*@
    <link href="~/Content/SharedCSS/_Layout.css" rel="stylesheet" />   @*连接样式表*@
</head>

<body style="background-image :url(../../Images/背景.jpg)">
    @*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓    顶部颜色条   ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*@
    <div class="container body-content">
        @RenderBody()
        <footer style="height:20px;" class="nav  navbar-fixed-top text-center">
            <table width="100%" ; height="20" ; style="background-color:#000000; font-family:YouYuan; margin:0;">
                <tr>
                    <td></td>
                    <td width="2.5%"><img src="~/Images/酒店图标.jpg" height="25px;" /></td>
                    <td width="10%"><p id="ttyyo">&nbsp;&nbsp;&nbsp;AiyeroKing大酒店</p></td>
                    <td width="2.5%"><img src="~/Images/酒店图标.jpg" height="25px;" style="text-align:left" /></td>
                    <td width="3%"><img src="~/Images/国棋.jpg" height="25px;" /></td>
                    <td width="50%"></td>
                    <td width="12%" align="center" style="color:aqua;padding-top:8px;">
                        <p>订房热线: 100 110 1111</p>
                    </td>
                    <td width="5%" align="center">
                        <p></p>
                    </td>
                    <td width="10%"></td>
                </tr>
            </table>
            @*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓    导航栏设计   ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*@
            <!-- 导航 -->
            <div class="navbar navbar-default navbar-default">
                @*--------------------------------------------------------->>>>>>>>>导航栏目标签*@
                <div class="container">
                    @*--------------------------------------------------------->>>>>>>>>这是一个容器*@


                    <div class="navbar-header">
                        @*-------------------------------------------------------------------------------------------------------->>>>>>>>>最小化的导航栏*@
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>@*--------------------------------------------------------------------------------------------------------------------------------------->>>>>>>>>结束*@


                    <div class="navbar-collapse collapse; text-center" style="text-align:center">
                        @*-------------------------------------------------------------------------------------------------->>>>>>>>>主导航栏*@
                        <ul class="nav text-center navbar-nav navbar-left" style="text-align:center">
                            <li style="width:500px;">&nbsp;</li>
                            <li style="text-align:center">@Html.ActionLink("酒店首页", "Index", "Home")</li>@*导航栏中的 “主页”*@
                            <li style="text-align:center">@Html.ActionLink("酒店位置", "Location", "Home")</listyle="text-align:center">
                            <li style="text-align:center">@Html.ActionLink("酒店介绍", "Introduce", "Home")</li>
                            <li style="text-align:center">@Html.ActionLink("住房预约", "Subscrube", "Home")</li>
                            <li style="text-align:center">@Html.ActionLink("住房查看", "Check", "Home")</li>
                            <li style="text-align:center">@Html.ActionLink("关于我们", "About", "Home")</li>@*导航栏中的 “关于”*@
                            <li style="text-align:center">@Html.ActionLink("联系方式", "Contact", "Home")</li>@*导航栏中的 “联系方式”*@
                        </ul>
                    </div>@*----------------------------------------------------------------------------------------------------------------------------------->>>>>>>>>>>>>结束*@
                </div>@*----------------------------------------------------------------------->>>>>>>>>>>>容器标签结束*@
            </div>
        </footer>
    </div>


    <div style="width:100%">
        <div style="text-align:center">
            <table width="100%" height="200px">
                <tr style="height:100px; background-color:#EDEDED">
                    <td width="20%"></td>
                    <td>
                        <table align="center" width="100%" height="100%">
                            <tr>
                                <td>
                                    <p class="bbbbbb">集团介绍</p>

                                    <p><a class="Guangaolanmu" href="#">集团简介</a></p>
                                    <p><a class="Guangaolanmu" href="#">企业愿景</a></p>
                                    <p><a class="Guangaolanmu" href="#">企业荣誉</a></p>
                                    <p><a class="Guangaolanmu" href="#">发展战略</a></p>
                                    <p><a class="Guangaolanmu" href="#">竞争优势</a></p>

                                </td>
                                <td>
                                    <p class="bbbbbb">广告联盟</p>

                                    <p><a class="Guangaolanmu" href="#">联盟介绍</a></p>
                                    <p><a class="Guangaolanmu" href="#">联盟协议</a></p>
                                    <p><a class="Guangaolanmu" href="#">获取代码</a></p>
                                    <p><a class="Guangaolanmu" href="#">结算中心</a></p>
                                    <p><a class="Guangaolanmu" href="#">联盟答疑</a></p>

                                </td>

                                <td>
                                    <p class="bbbbbb">人才招聘</p>

                                    <p><a class="Guangaolanmu" href="#">招聘信息</a></p>
                                    <p><a class="Guangaolanmu" href="#">薪酬福利</a></p>
                                    <p><a class="Guangaolanmu" href="#">职业规划</a></p>
                                    <p>&nbsp;</p><p>&nbsp;</p>

                                </td>

                                <td>
                                    <p class="bbbbbb">合作加盟</p>

                                    <p><a class="Guangaolanmu" href="#">加盟申请</a></p>
                                    <p><a class="Guangaolanmu" href="#">租赁承包</a></p>
                                    <p><a class="Guangaolanmu" href="#">合作奖励</a></p>
                                    <p><a class="Guangaolanmu" href="#">工程承包</a></p>
                                    <p>&nbsp;</p>


                                </td>

                                <td>
                                    <p class="bbbbbb">合作伙伴</p>

                                    <p><a class="Guangaolanmu" href="#">平安银行</a></p>
                                    <p><a class="Guangaolanmu" href="#">华为集团</a></p>
                                    <p><a class="Guangaolanmu" href="#">工商银行</a></p>
                                    <p><a class="Guangaolanmu" href="#">中兴科技</a></p>
                                    <p>&nbsp;</p>


                                </td>

                                <td>
                                    <p class="bbbbbb">帮助中心</p>

                                    <p><a class="Guangaolanmu" href="#">联系方式</a></p>
                                    <p><a class="Guangaolanmu" href="#">找回密码</a></p>
                                    <p><a class="Guangaolanmu" href="#">常见问题</a></p>
                                    <p><a class="Guangaolanmu" href="#">自助问答</a></p>
                                    <p><a class="Guangaolanmu" href="#">会员手册</a></p>

                                </td>
                            </tr>
                        </table>

                    </td>
                    <td width="20%"></td>
                </tr>
            </table>
        </div>
    </div>

    <div style="background-color:#ffffff">
        <footer style="width:100%; position:static">
            <p></p> <p id="lowdesign">
                <a href="#" class="Guangao ">联系我们</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#" class="Guangao">招聘精英</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a href="#" class="Guangao">周边景区</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#" class="Guangao">商务服务</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#" class="Guangao">写字楼</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#" class="Guangao">客服电话：100-110-1111</a>
            </p><p></p>
            <p id="lowdesign1">
                &clubs;@DateTime.Now.Year -AiyeroKing大酒店&nbsp;版权所有 Copyright © &nbsp; All Rights Reserved. &nbsp;多数酒店为独立产权及独立经营。<br />地址：XXX市OOO路0号 邮编:000000
                <br /> 粤ICP备13513002号-16 <img src="~/Images/pic.gif" />
            </p>
        </footer>
    </div>





    @Scripts.Render("~/bundles/jquery")  @*ASP.NET MVC 4 引入的jquery打包压缩功能。*@
    @Scripts.Render("~/bundles/bootstrap") @*ASP.NET MVC 4 引入的bootstrap打包压缩功能。*@
    @RenderSection("scripts", required: false)
</body>

</html>
