<!DOCTYPE html>
<html>
<head> @*头文件*@
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - 在线酒店预订系统</title>   @*网页标题，将显示在网页头名称中*@

    @Styles.Render("~/Content/css")@*ASP.NET MVC 4 引入的CSS打包压缩功能。*@
    @Scripts.Render("~/bundles/modernizr")@*ASP.NET MVC 4 引入的modernizr打包压缩功能。*@
    <link href="~/Content/SharedCSS/_Layout.css" rel="stylesheet" />   @*连接样式表*@

</head>


<body>
    <div class="navbar navbar-inverse  navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              </div>
            <div class="navbar-collapse collapse;">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "Home")</li>@*导航栏中的 “主页”*@
                    <li>@Html.ActionLink("关于", "About", "Home")</li>@*导航栏中的 “关于”*@
                    <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>@*导航栏中的 “联系方式”*@
                </ul>
                @Html.Partial("_LoginPartial")   @*导航栏最右端的注册和登录选项。。。。。。。。链接到shared中的_LoginPartial.cshtml*@
            </div>
        </div>
    </div>


    <div class="container body-content">                      
        @RenderBody()
        <hr />   @*分割线*@
        <footer >
            <p id="_Layoutlastshow">&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>  @*最底下显示的*@
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")  @*ASP.NET MVC 4 引入的jquery打包压缩功能。*@
    @Scripts.Render("~/bundles/bootstrap") @*ASP.NET MVC 4 引入的bootstrap打包压缩功能。*@
    @RenderSection("scripts", required: false)

</body>
</html>
